.cell-button {
  background: url(../../../images/minesweeper-sprites.png) no-repeat;
  background-size: 280px 169px;
  background-position: 2px -100px;
  border-radius: 2px;
  height: 35px;
  border: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pixel font';
}

.cell-opened {
  background-position: -34px -102px;
}

.flag {
  background-position: -66px -100px;
}

.question {
  background-position: -100px -100px;
}

.mine {
  background-position: -171px -102px;
}

.last-mine {
  background-position: -205px -102px;
}

.wrong-mine {
  background-position: -240px -102px;
}

.x1 {
  background-position: 0 -136px;
}

.x2 {
  background-position: -34px -136px;
}

.x3 {
  background-position: -68px -136px;
}

.x4 {
  background-position: -104px -136px;
}

.x5 {
  background-position: -139px -136px;
}

.x6 {
  background-position: -174px -136px;
}

.x7 {
  background-position: -209px -136px;
}

.x8 {
  background-position: -244px -136px;
}
