@import url(../components/buttons/cell-button/cell.css);
@import url(../components/buttons/emotion-button/emotion.css);

.page {
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  min-width: 720px;
  margin: 3% auto 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 594px;
  height: 684px;
  justify-content: center;
  background: #bdbdbd;
  border-left: 4px solid #ffffff;
  border-top: 4px solid #ffffff;
  border-right: 4px solid #7b7b7b;
  border-bottom: 4px solid #7b7b7b;
  border-radius: 2px;
  margin: auto;
}

.header {
  display: flex;
  width: 532px;
  height: 70px;
  margin: 0 auto;
  padding: 0 14px;
  background: #bdbdbd;
  border-left: 4px solid #7b7b7b;
  border-top: 4px solid #7b7b7b;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-radius: 2px;
}

.digits {
  display: flex;
  width: 84px;
  height: 50px;
  margin: auto 0;
  background-color: black;
}

.digit {
  background: url(../images/minesweeper-sprites.png) no-repeat;
  background-size: 300px 183px;
  width: 28px;
  height: 50px;
  margin: auto 0;
}

.one {
  background-position: 0 0;
}

.two {
  background-position: -30px 0;
}

.three {
  background-position: -60px 0;
}

.four {
  background-position: -91px 0;
}

.five {
  background-position: -121px 0;
}

.six {
  background-position: -151px 0;
}

.seven {
  background-position: -181px 0;
}

.eight {
  background-position: -211px 0;
}

.nine {
  background-position: -242px 0;
}

.zero {
  background-position: -272px 0;
}

.line-between {
  height: 13px;
}

#board {
  display: grid;
  grid-template-columns: repeat(16, 35px);
  width: 560px;
  height: 560px;
  margin: 0 auto;
  border-left: 4px solid #7b7b7b;
  border-top: 4px solid #7b7b7b;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  border-radius: 2px;
}
